<section class="top">
    <div class="parallax-container valign-wrapper">
        <img class="hide-on-med-and-up logo center-align" height="80px" src="../img/logo.png" alt="Иван-Асен">                                
        <div class="container">
            <div class="row">
                <div class="col s12 l10 offset-l1 white-text greet-container">
                    <h1 class="hide-on-small-only center-align">Hi, I'm Ivan-Asen Chakarov</h2>
                    <h3 class="hide-on-med-and-up center-align">Hi, I'm Ivan-Asen Chakarov</h3>
                    <p class=" grey-text text-lighten-1 flow-text center-align">A Mobile & Web app developer based in Dupnitsa, Bulgaria.</p>

                    <div class="divider col s8 offset-s2"></div>
                    <div class="row">
                        <ul class="col s12 m8 offset-m2">
                            <li class="col s2 offset-s2 center-align"><a target="_blank" class="white-text" href="https://www.facebook.com/ivan.asen.9907">
                                    <i class="fa fa-facebook-square fa-2x"></i>
                                </a></li>
                            <li class="col s2 center-align"><a target="_blank" class="white-text" href="https://github.com/ivanasen">
                                    <i class="fa fa-github fa-2x"></i>
                                </a></li>
                            <li class="col s2 center-align"><a class="white-text" href="mailto:vankata9907@gmail.com">
                                    <i class="fa fa-envelope fa-2x"></i>
                                </a></li>
                            <li class="col s2 center-align"><a target="_blank" class="white-text" href="https://www.fiverr.com/ivanchakarov">
                                    <img id="fiverr-logo" src="../img/fiverr_logo.svg" alt="Fiverr">
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col s2 offset-s5 floating-btn-container">
                    <a class="btn-floating btn-large waves-effect waves-light blue btn-scroll-about-me">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img height=1300 src="../img/parallax_1.png">
        </div>
    </div>
</section>

<section id="about-me">
    <div class="section container">
        <h2>About <span class="blue-text">me</span></h4>
            <div class="row chart-container">
                <div class="col s12 l8">
                    <p class="flow-text">
                        <b>My name is Ivan-Asen Chakarov and I'm a mobile and web app developer based in Dupnitsa, Bulgaria.</b>
                        <br><br>
                        I started programming two years ago and since one year I have been making mobile applications for
                        Android. I recently started learning web development focusing on the front-end.
                        <br><br> 
                        In my first attempt at the National Olympiad of IT (which was this year) i got a grade of 5.75
                        and my project, a translator app for Android called "Talk Translator", won 9th place amongst over
                        100 projects in its category.
                    </p>
                </div>
                <div class="col s12 l4">
                    <ul class="skill-list collection with-header">
                        <li class="collection-header">
                            <h4>My skills</h4>
                        </li>
                        <li class="collection-item">
                            <div>JAVA 8</div>
                        </li>
                        <li class="collection-item">
                            <div>Kotlin</div>
                        </li>
                        <li class="collection-item">
                            <div>Javascript</div>
                        </li>
                        <li class="collection-item">
                            <div>JQuery</div>
                        </li>
                        <li class="collection-item">
                            <div>HTML 5</div>
                        </li>
                        <li class="collection-item">
                            <div>CSS 3</div>
                        </li>
                        <li class="collection-item">
                            <div>Sass</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center-align">
                <a target="_blank" href="../assets/Ivan-Asen_Chakarov_CV.pdf" class="white btn-large blue-text">Donwload My CV</a>
            </div>
    </div>
</section>

<section id="projects">
    <div class="section container">
        <h2 class="">Projects</h4>
            <div class="row">

                {% for project_hash in site.data.projects %} {% assign project = project_hash[1] %}
                <div class="col s12 m6">
                    <a href="{{ project.url }}">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ project.img_path }}" alt="{{ project.title }}">
                                <span class="card-title">{{ project.title }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
    </div>
</section>