<section>
    <div class="parallax-container valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 l8 offset-l2 white-text greet-container">
                    <h1 class="center-align">I'm Ivan-Asen Chakarov</h1>
                    <p class="center-align">A <b>Mobile</b> and <b>Web</b> app developer from Bulgaria. I work as a <b>freelance developer</b><br> and I love creating awesome projects and collaborating with cool people.<br> Let's <b>start scrolling</b> to learn more about me and my work.</p>
                    
                    <div class="divider"></div>
                    <div class="row section">
                        <div class=" col s2  right">
                            <a target="_blank" class="white-text col s6" href="https://www.facebook.com/ivan.asen.9907"><i class="fa fa-facebook-square fa-2x center-align"></i></a>
                            <a target="_blank" class="white-text col s6" href="https://github.com/ivanasen"><i class="fa fa-github fa-2x center-align"></i></a>
                        </div>
                        <span class=" left email">{{site.email}}</span>
                    </div>
                </div>
                <div class="col s2 offset-s5 floating-btn-container">
                    <a class="btn-floating btn-large waves-effect waves-light blue" href="">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img height=1080 src="../img/parallax_1.png">
        </div>
    </div>
</section>
<section>
    <div>
        <img src="" alt="" height=1000>
    </div>
</section>