<section class="top">
    <div class="parallax-container valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 l8 offset-l2 white-text greet-container">
                    <h3 class="center-align">Hi, I'm Ivan-Asen Chakarov</h1>
                        <p class="grey-text text-lighten-3 flow-text center-align">A <b>Mobile</b> and <b>Web</b> app developer from Bulgaria. I work as a <b>freelancer</b> and I love
                            creating beautiful projects. Let's <b>start scrolling</b> and learn more about me and my work.</p>

                        <div class="divider"></div>
                        <div class="row">
                            <ul class="col s12">
                                <li class="col s2 offset-s3 right-align"><a target="_blank" class="white-text" href="https://www.facebook.com/ivan.asen.9907">
                                    <i class="fa fa-facebook-square fa-2x right-align"></i>
                                </a></li>
                                <li class="col s2 center-align"><a target="_blank" class="white-text" href="https://github.com/ivanasen">
                                    <i class="fa fa-github fa-2x center-align"></i>
                                </a></li>                                
                                <li class="col s2 left-align"><a class="white-text" href="mailto:vankata9907@gmail.com">
                                    <i class="fa fa-envelope fa-2x center-align"></i>
                                </a></li>                                
                            </ul>
                        </div>
                </div>
                <div class="col s2 offset-s5 floating-btn-container">
                    <a class="btn-floating btn-large waves-effect waves-light blue btn-scroll-to-about-me">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img height=1300 src="../img/parallax_1.png">
        </div>
    </div>
</section>

<section id="about-me">
    <div class="section">
        <h4>About me</h4>
        <div class="divider"></div>
    </div>
</section>

<section id="projects">
    <div class="section">
        <h4>Projects</h4>
        <div class="divider"></div>
    </div>
</section>