<footer class="page-footer" style="background: linear-gradient(45deg, #24C6DC, #514A9D);">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Ivan-Asen Chakarov</h5>
				<p class="grey-text text-lighten-4"><i class="fa fa-map-marker"></i> Dupnitsa, Bulgaria</p>
			</div>

			<div class="col l4 offset-l2 s12">
				<ul>
					<li class="col s2 offset-l3"><a target="_blank" class="grey-text text-lighten-3" href="https://www.facebook.com/ivan.asen.9907">
				  	<i class="fa fa-facebook-square fa-2x"></i>
				  </a></li>
					<li class="col s2"><a target="_blank" class="grey-text text-lighten-3" href="https://github.com/ivanasen">
				  	<i class="fa fa-github fa-2x"></i>
				  </a></li>
					<li class="col s2"><a class="grey-text text-lighten-3" href="mailto:vankata9907@gmail.com">
					<i class="fa fa-envelope fa-2x"></i>
				  </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container center-align">
			© 2017 Ivan-Asen Chakarov. Some rights reserved.
		</div>
	</div>
</footer>