<div class="navbar-fixed">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper z-depth-0">
            <a href="{{baseurl}}" class="brand-logo">
                <img src="../img/logo.png" alt="Иван-Асен">                
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="btn-scroll-top menu-btn">ABOUT ME</a></li>
                <li><a class="btn-scroll-down menu-btn">PROJECTS</a></li>
                <li><a class="waves-effect waves-light btn-large blue lighten-1" id="contact-btn" href="mailto:vankata9907@gmail.com">Contact me</a></li>
            </ul>
            <ul class="side-nav blue-grey darken-4" id="mobile-demo">
                <li><a class="btn-scroll-top white-text" href="">ABOUT ME</a></li>
                <li><a class="btn-scroll-down white-text" href="">PROJECTS</a></li>
                <li><a class="waves-effect waves-light btn-large blue lighten-1" id="contact-btn" href="mailto:vankata9907@gmail.com">Contact me</a></li>
            </ul>
        </div>
    </nav>
</div>