<div class="navbar-fixed hide-on-med-and-down">
    <nav class="z-depth-0">
        <div class="nav-wrapper">
            <a href="{{baseurl}}" class="brand-logo left">
                <img class=" hide-on-small-only" height="65px" src="../img/logo.png" alt="Иван-Асен">                                
            </a>
            <ul class="right">
                <li><a class="btn-scroll-about-me menu-btn">ABOUT ME</a></li>
                <li><a class="btn-scroll-projects menu-btn">PROJECTS</a></li>
                <li><a class="waves-effect waves-light wavelighten-1 blue btn-large" id="contact-btn" href="mailto:vankata9907@gmail.com">CONTACT ME</a></li>
            </ul>            
        </div>
    </nav>
</div>