.navbar-fixed {
    position: absolute;
    nav {
        height: auto;
        background-color: rgba(0, 0, 0, .1); // background-color: white;
        li {
            #contact-btn {
                background: $background-gradient;
            }
        }
    }
    .visible-nav {
        background-color: rgba(#263238, 1);
    }
}