.parallax-container {
    height: 100vh;

    .greet-container {                
        p {
            font-size: 1.2em;
            font-weight: 400;
        }

        .divider {
            background-color: rgba(255, 255, 255, .2);
        }
    }

    .floating-btn-container {

        .btn-floating {
            background: $background-gradient;
            position: absolute;
            left: 50%;
            bottom: 5vh;
            transform: translateX(-50%);
        }
    }
}