<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2196f3">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2196f3">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2196f3">

    <title>{{ site.title }}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css" media="screen,projection"
    />
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://use.fontawesome.com/e560ed51ec.js"></script>
</head>

<body>
    {% include header.html %} {% include content.html %} {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../bower_components/materialize/dist/js/materialize.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>